.vscode
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
ansible/configuration/hosts
ansible/configuration/hosts
ansible/storage/minecraft/worlds/nepelios
ansible/storage/minecraft/worlds/juanes
ansible/storage/terraria/server
ansible/storage/terraria/worlds
